{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>Top Performing Players</h1>
{% if elements %}
    <ul>
        {% for element in elements|dictsortreversed:"total_points" %}
            <li>{{ element.web_name }}</li>
            <p>Total Points: <strong>{{ element.total_points }}</strong>pts</p>
            <img src="{{ element.photo_url }}" width="50">
        {% endfor %}
    </ul>
{% else %}
    <p>No players are available.</p>
{% endif %}