body {
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center !important;
    padding-top: 25px !important;
}

.wrapper{
    text-align: center;
}

button{
    margin-top: 25px;
    
}

p{
    margin-top: 10px;
    text-align: center !important;
}

#header {
    background-color: #3D195B;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#team-card {
    max-width: 450px;
    padding: 10px;
    margin: 10px auto;
}
.team-header {
    font-size: 36px;
}

.player-price {
    color: grey;
    float: right;
    font-size: .9rem;
}

#footer {
    background-color: #3D195B;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 14px;
}